<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46399748663-5p7t9ukq68um6u2hqbdbqaq8nk1nmnpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46399748663-5p7t9ukq68um6u2hqbdbqaq8nk1nmnpf</string>
	<key>API_KEY</key>
	<string>AIzaSyBG-frgAojACjV5DdGY2I2Zo4h2gSiRgiw</string>
	<key>GCM_SENDER_ID</key>
	<string>46399748663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiberus.Films</string>
	<key>PROJECT_ID</key>
	<string>films-3fec0</string>
	<key>STORAGE_BUCKET</key>
	<string>films-3fec0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46399748663:ios:573835ddd28f72526c9db2</string>
</dict>
</plist>